<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="CmsModule" path="~/LitiumStudio/CMS/SearchResult.aspx" />
	<quickSearch type="Litium.Studio.UI.CMS.Search.QuickSearch" />
  <menuSelectedIcon path="~/LitiumStudio/CMS/Images/cms_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/CMS/Images/cms_22x22.png"/>
  
  <settings basePath="~/LitiumStudio/CMS/">
		<item path="WebSites.aspx" text="WebSites">
			<item path="WebSitesCreate.aspx" />
			<item path="WebSitesEdit.aspx" />
			<item path="WebSitesStringCreate.aspx" />
			<item path="WebSitesStringEdit.aspx" />
			<item path="WebSitesStringExport.aspx" />
			<item path="WebSitesStringImport.aspx" />
			<item path="WebSitesStringList.aspx" />
		</item>
		<item path="PageTypes.aspx" text="PageTypesAndTemplates">
			<item path="PageTypesCreate.aspx" />
			<item path="PageTypesEdit.aspx" />
			<item path="PageTypesEditContent.aspx" />
			<item path="PageTypesEditSettings.aspx" />
			<item path="PageTypesExport.aspx" />
			<item path="PageTypesImport.aspx" />
			<item path="PageTypesStringCreate.aspx" />
			<item path="PageTypesStringEdit.aspx" />
			<item path="PageTypesStringExport1.aspx" />
			<item path="PageTypesStringExport2.aspx" />
			<item path="PageTypesStringImport.aspx" />
			<item path="PageTypesStringList.aspx" />
			<item path="PageTypesTemplateCreate.aspx" />
			<item path="PageTypesTemplateDelete.aspx" />
			<item path="PageTypesTemplateEdit.aspx" />
			<item path="PageTypesTemplateList.aspx" />
		</item>
		<item path="PagesUserResponsibleCount.aspx" text="ShowUserResponsibility">
			<item path="PagesUserResponsibleChange.aspx" />
			<item path="PagesUserResponsibleShow.aspx" />
			<item path="PagesUserResponsibleShowChange.aspx" />
			<item path="PagesUserResponsible.aspx" />
		</item>
		<item path="OtherSettings.aspx" text="OtherSettings" />
	</settings>
</configuration>