<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="NewsletterModule" path="~/LitiumStudio/Newsletter/SearchResult.aspx" />
	<quickSearch type="Litium.Studio.UI.Newsletter.Search.QuickSearch" />
  <menuSelectedIcon path="~/LitiumStudio/Newsletter/Images/news_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/Newsletter/Images/news_22x22.png"/>
  <settings basePath="~/LitiumStudio/Newsletter/">
		<item path="Settings.aspx" text="TabSettings" />
		<item path="Templates.aspx" text="TabTemplates">
			<item path="TemplatesCreate1.aspx" />
			<item path="TemplatesEdit1.aspx" />
		</item>
	</settings>
</configuration>