<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="ProductCatalogModule" path="~/LitiumStudio/ProductCatalog/SearchResult.aspx" />
	<quickSearch type="Litium.Studio.UI.ProductCatalog.Search.QuickSearch" />
	<advancedSearch path="~/LitiumStudio/ProductCatalog/SearchAdvanced.aspx" />
  <menuSelectedIcon path="~/LitiumStudio/ProductCatalog/Images/pc_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/ProductCatalog/Images/pc_22x22.png"/>
  <settings basePath="~/LitiumStudio/ProductCatalog/">
		<item path="Settings.aspx" text="TabSettings" />
		<item path="SettingsDisplayTemplates.aspx" text="TabDisplayTemplates">
			<item path="SettingsDisplayTemplateAddEdit.aspx" />
		</item>
		<item path="SettingsDefinitions.aspx" text="TabDefinitions">
			<item path="SettingsDefinitionAddEdit.aspx" />
			<item path="SettingsDefinitionView.aspx" />
		</item>
		<item path="SettingsDefinitionFields.aspx" text="TabDefinitionFields">
			<item path="SettingsDefinitionFieldAddEdit.aspx" />
		</item>
		<item path="SettingsLanguages.aspx" text="TabLanguages">
			<item path="SettingsLanguageAdd.aspx" />
		</item>
		<item path="SettingsRelationTypes.aspx" text="TabRelations" license="PC_ArticleRelations">
			<item path="SettingsRelationTypeAddEdit.aspx" />
		</item>
		<item path="SettingsStockKeepingUnits.aspx" text="TabStockKeepingUnit" license="PC_StockBalance">
			<item path="SettingsStockKeepingUnitAddEdit.aspx" />
			<item path="SettingsStockKeepingUnitView.aspx" />
		</item>
		<item path="SettingsImportArticle.aspx" text="TabImportArticle">
			<item path="SettingsImport.aspx" />
		</item>
		<item path="SettingsSearchIndex.aspx" text="TabSearchIndices">
			<item path="SettingsSearchIndex.aspx" />
		</item>
	</settings>
</configuration>