/***************** IKONER ***************************************************/
.litIconUpDown{background-image: url(../../../../LitiumStudio/Images/icons_standard/up_down_16px.gif);}
.litIconArrowDownBlue{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_down_blue_16px.gif);}
.litIconArrowDownBlue_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_down_blue_16px.gif);}
.litIconArrowUpBlue{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_up_blue_16px.gif);}
.litIconArrowUpBlue_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_up_blue_16px.gif);}
.litIconArrowLeft{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_left_blue_16px.gif);}
.litIconArrowRight{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_right_blue_16px.gif);}
.litIconSortDescending{background-image: url(../../../../LitiumStudio/Images/icons_standard/sort_descending_16px.gif);}
.litIconSortAscending{background-image: url(../../../../LitiumStudio/Images/icons_standard/sort_ascending_16px.gif);}
.litIconView{background-image: url(../../../../LitiumStudio/Images/icons_standard/view_16px.gif);}
.litIconDelete2{background-image: url(../../../../LitiumStudio/Images/icons_standard/delete2_16px.gif);}
.litIconRefresh{background-image: url(../../../../LitiumStudio/Images/icons_standard/refresh_16px.gif);}
.litIconAdd2{background-image: url(../../../../LitiumStudio/Images/icons_standard/add2_16px.gif);}
.litIconAdd2_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/add2_16px.gif);}
.litIconPencil{background-image: url(../../../../LitiumStudio/Images/icons_standard/pencil_16px.gif);}
.litIconExport2{background-image: url(../../../../LitiumStudio/Images/icons_standard/export2_16px.gif);}
.litIconImport2{background-image: url(../../../../LitiumStudio/Images/icons_standard/import2_16px.gif);}
.litIconError{background-image: url(../../../../LitiumStudio/Images/icons_standard/error_16px.gif);}
.litIconOk{background-image: url(../../../../LitiumStudio/Images/icons_standard/check2_16px.gif);}
.litIconWarning{background-image: url(../../../../LitiumStudio/Images/icons_standard/warning_16px.gif);}
.litIconFind{background-image: url(../../../../LitiumStudio/Images/icons_standard/find_16px.gif);}
.litIconKeys{background-image: url(../../../../LitiumStudio/Images/icons_standard/keys_16px.gif);}
.litIconTextBold{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_bold_16px.gif);}
.litIconTextItalics{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_italics_16px.gif);}
.litIconTextUnderlined{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_underlined_16px.gif);}
.litIconTextAlignLeft{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_align_left_16px.gif);}
.litIconTextAlignRight{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_align_right_16px.gif);}
.litIconTextAlignCenter{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_align_center_16px.gif);}
.litIconTextAlignJustified{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_align_justified_16px.gif);}
.litIconCut{background-image: url(../../../../LitiumStudio/Images/icons_standard/cut_16px.gif);}
.litIconCut_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/cut_16px.gif);}
.litIconCopy{background-image: url(../../../../LitiumStudio/Images/icons_standard/copy_16px.gif);}
.litIconCopy_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/copy_16px.gif);}
.litIconPaste{background-image: url(../../../../LitiumStudio/Images/icons_standard/paste_16px.gif);}
.litIconPaste_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/paste_16px.gif);}
.litIconEnvironment{background-image: url(../../../../LitiumStudio/Images/icons_standard/environment_16px.gif);}
.litIconTextRichColored{background-image: url(../../../../LitiumStudio/Images/icons_standard/text_rich_colored_16px.gif);}
.litIconGear{background-image: url(../../../../LitiumStudio/Images/icons_standard/gear_16px.gif);}
.litIconColumnAddAfter{background-image: url(../../../../LitiumStudio/Images/icons_standard/column_add_after_16px.gif);}
.litIconColumnAddBefore{background-image: url(../../../../LitiumStudio/Images/icons_standard/column_add_before_16px.gif);}
.litIconRowAddAfter{background-image: url(../../../../LitiumStudio/Images/icons_standard/row_add_after_16px.gif);}
.litIconRowAddBefore{background-image: url(../../../../LitiumStudio/Images/icons_standard/row_add_before_16px.gif);}
.litIconTableAdd{background-image: url(../../../../LitiumStudio/Images/icons_standard/table_add_16px.gif);}
.litIconTableDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/table_delete_16px.gif);}
.litIconColumnDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/column_delete_16px.gif);}
.litIconRowDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/row_delete_16px.gif);}
.litIconDocumentPulse{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_pulse_16px.gif);}
.litIconAbout{background-image: url(../../../../LitiumStudio/Images/icons_standard/about_16px.gif);}
.litIconWizardGroups{background-image: url(../../../../LitiumStudio/Images/icons_standard/wizard_groups_16px.gif);}
.litIconUser3{background-image: url(../../../../LitiumStudio/Images/icons_standard/user3_16px.gif);}
.litIconDoor2{background-image: url(../../../../LitiumStudio/Images/icons_standard/door2_16px.gif);}
.litIconLogout{background-image: url(../../../../LitiumStudio/Images/icons_standard/logout_16px.gif);}
.litIconCheck{background-image: url(../../../../LitiumStudio/Images/icons_standard/check_16px.gif);}
.litIconLock{background-image: url(../../../../LitiumStudio/Images/icons_standard/lock_16px.gif);}
.litIconLockOpen{background-image: url(../../../../LitiumStudio/Images/icons_standard/lock_open_16px.gif);}
.litIconGarbageFull{background-image: url(../../../../LitiumStudio/Images/icons_standard/garbage_full_16px.gif);}
.litIconGarbageEmpty{background-image: url(../../../../LitiumStudio/Images/icons_standard/garbage_empty_16px.gif);}
.litIconGarbageEmpty_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/garbage_empty_16px.gif);}
.litIconArchive{background-image: url(../../../../LitiumStudio/Images/icons_standard/archive_16px.gif);}
.litIconArchive_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/archive_16px.gif);}
.litIconDocumentExchange{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_exchange_16px.gif);}
.litIconDiskBlue{background-image: url(../../../../LitiumStudio/Images/icons_standard/disk_blue_16px.gif);}
.litIconStop{background-image: url(../../../../LitiumStudio/Images/icons_standard/stop_16px.gif);}
.litIconDocumentView{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_view_16px.gif);}
.litIconEarthPreferences{background-image: url(../../../../LitiumStudio/Images/icons_standard/earth_preferences_16px.gif);}
.litIconRecycle{background-image: url(../../../../LitiumStudio/Images/icons_standard/recycle_16px.gif);}
.litIconGarbageDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/garbage_delete_16px.gif);}
.litIconArchiveDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/archive_delete_16px.gif);}
.litIconDocumentExchangeDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_exchange_delete_16px.gif);}
.litIconTemplate{background-image: url(../../../../LitiumStudio/Images/icons_standard/template_16px.gif);}
.litIconTemplate2{background-image: url(../../../../LitiumStudio/Images/icons_standard/template_32px.gif);}
.litIconPageType{background-image: url(../../../../LitiumStudio/Images/icons_standard/pagetype_16px.gif);}
.litIconPageType2{background-image: url(../../../../LitiumStudio/Images/icons_standard/pagetype_32px.gif);}
.litIconRequired{background-image: url(../../../../LitiumStudio/Images/icons_standard/required.gif);}
.litIconNavRightBlue{background-image: url(../../../../LitiumStudio/Images/icons_standard/nav_right_blue_16px.gif);}
.litIconReplace2{background-image: url(../../../../LitiumStudio/Images/icons_standard/replace2_16px.gif);}
.litIconAdd{background-image: url(../../../../LitiumStudio/Images/icons_standard/add_16px.gif);}
.litIconDelete{background-image: url(../../../../LitiumStudio/Images/icons_standard/delete_16px.gif);}
.litIconDocumentGear{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_gear_16px.gif);}
.litIconBookOpen{background-image: url(../../../../LitiumStudio/Images/icons_standard/book_open_16px.gif);}
.litIconDocumentAdd2{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_add_16px.gif);}
.litIconGauge{background-image: url(../../../../LitiumStudio/Images/icons_standard/gauge_16px.gif);}
.litIconNootbookPreferences{background-image: url(../../../../LitiumStudio/Images/icons_standard/notebook_preferences_16px.gif);}
.litIconEdit{background-image: url(../../../../LitiumStudio/Images/icons_standard/edit_16px.gif);}
.litIconNootbookAdd{background-image: url(../../../../LitiumStudio/Images/icons_standard/notebook_add_16px.gif);}
.litIconCopyRecursively_NoText{background-image: url(../../../../LitiumStudio/Images/icons_standard/copy_recursively_16px.gif);}
.litIconDocumentFind2{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_find_16px.gif);}
.litIconPresentationChart{background-image: url(../../../../LitiumStudio/Images/icons_standard/presentation_chart_16px.gif);}
.litIconLineChart{background-image: url(../../../../LitiumStudio/Images/icons_standard/line_chart_16px.gif);}
.litIconDownload{background-image: url(../../../../LitiumStudio/Images/icons_standard/import1_16px.gif);}
.litIconRemoveFromCategory{background-image: url(../../../../LitiumStudio/Images/icons_standard/branch_delete_16px.gif);}
.litIconModulePanel{background-image: url(../../../../LitiumStudio/Images/icons_standard/component_blue.png);}

/***************** IKONER FÖR SIDSTATUS *******************/
.litIconPSPubl{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_publ_16px.gif);}
.litIconPublish{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_publ2_16px.gif);}
.litIconPSPublWork{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_publ_work_16px.gif);}
.litIconPSPublHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_publ_hide_16px.gif);}
.litIconPSPublWorkHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_publ_work_hide_16px.gif);}
.litIconPSUnpubl{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_unpubl_16px.gif);}
.litIconUnpublish{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_unpubl2_16px.gif);}
.litIconPSUnpublWork{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_unpubl_work_16px.gif);}
.litIconPSUnpublHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_unpubl_hide_16px.gif);}
.litIconPSUnpublWorkHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_unpubl_work_hide_16px.gif);}
.litIconPSTimepubl{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_timepubl_16px.gif);}
.litIconPSTimepubl2{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_timepubl2_16px.gif);}
.litIconPSTimepublWork{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_timepubl_work_16px.gif);}
.litIconPSTimepublHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_timepubl_hide_16px.gif);}
.litIconPSTimepublWorkHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_timepubl_work_hide_16px.gif);}
.litIconWorkingCopy{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_work_16px.gif);}
.litIconPSHide{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_hide_16px.gif);}
.litIconPSShow{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_show_16px.gif);}
.litIconReadyForPublish{background-image: url(../../../../LitiumStudio/Images/icons_standard/ps_appr_16px.gif);}

/***************** IKONER SOM ÄR 24px *******************/
.litIconHelp2{background-image: url(../../../../LitiumStudio/Images/icons_standard/help2_24px.gif);}
.litIconArrowLeftBlue{background-image: url(../../../../LitiumStudio/Images/icons_standard/arrow_left_blue_24px.gif);}
.litIconDocumentPreferences{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_preferences_24px.gif);}
.litIconDocumentTime{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_time_24px.gif);}
.litIconDocumentChart{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_chart_24px.gif);}
.litIconDiskBlue2{background-image: url(../../../../LitiumStudio/Images/icons_standard/disk_blue_24px.gif);}
.litIconDocumentView2{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_view_24px.gif);}
.litIconArchive2{background-image: url(../../../../LitiumStudio/Images/icons_standard/archive_24px.gif);}
.litIconGarbageEmpty2{background-image: url(../../../../LitiumStudio/Images/icons_standard/garbage_empty_24px.gif);}
.litIconDocumentExchange2{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_exchange_24px.gif);}
.litIconEarthPreferences2{background-image: url(../../../../LitiumStudio/Images/icons_standard/earth_preferences_24px.gif);}
.litIconDocumentFind{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_find_24px.gif);}
.litIconDocumentAdd{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_add_24px.gif);}
.litIconDocumentGear2{background-image: url(../../../../LitiumStudio/Images/icons_standard/document_gear_24px.gif);}
.litIconGear2{background-image: url(../../../../LitiumStudio/Images/icons_standard/gear_24px.gif);}
.litIconDocuments{background-image: url(../../../../LitiumStudio/Images/icons_standard/documents_24px.gif);}

/***************** HUVUDIKONER FÖR VYER *******************/
.litIconMainError{background-image: url(../../../../LitiumStudio/Images/icons_standard/main_error_24px.gif);}