<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="ECommerceModule" path="~/LitiumStudio/ECommerce/SearchResult.aspx" />
	<quickSearch type="Litium.Studio.UI.ECommerce.Search.QuickSearch" />
  <menuSelectedIcon path="~/LitiumStudio/ECommerce/Images/ecom_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/ECommerce/Images/ecom_22x22.png"/>
	<settings basePath="~/LitiumStudio/ECommerce/">
		<item path="Settings.aspx" text="TabSettings" />
		<item path="SettingsOrders.aspx" text="TabOrders" />
		<item path="SettingsShoppingCart.aspx" text="TabShoppingCart" />
		<item path="SettingsTranslations.aspx" text="TabTranslations" />
		<item path="SettingsDeliveryMethods.aspx" text="TabDeliveryMethods">
			<item path="SettingsDeliveryMethodAddEdit.aspx" />
		</item>
		<item path="SettingsDeliveryProviders.aspx" text="TabDeliveryProviders">
			<item path="SettingsDeliveryProviderAddEdit.aspx" />
		</item>
		<item path="SettingsCampaignTypes.aspx" text="TabCampaignTypes" />
		<item path="SettingsReports.aspx" text="TabReport">
			<item path="SettingsReportAddEdit.aspx" />
		</item>
	</settings>
</configuration>