<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="RelationsModule" path="~/LitiumStudio/Relations/SearchResult.aspx" />
	<quickSearch type="Litium.Studio.UI.Relations.Search.QuickSearch" />
	<advancedSearch path="~/LitiumStudio/Relations/Search.aspx" />
  <menuSelectedIcon path="~/LitiumStudio/Relations/Images/rel_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/Relations/Images/rel_22x22.png"/>
  <settings basePath="~/LitiumStudio/Relations/">
		<item path="Settings.aspx" text="Settings" />
		<item path="SettingsFieldTemplates.aspx" text="FieldTemplates">
			<item path="SettingsFieldTemplateAddEdit.aspx" />
			<item path="SettingsFieldTemplateView.aspx" />
		</item>
		<item path="SettingsDefinitionFields.aspx" text="Fields">
			<item path="SettingsDefinitionFieldAddEdit.aspx" />
		</item>
		<item path="SettingsRoles.aspx" text="Roles">
			<item path="SettingsRoleAddEdit.aspx" />
			<item path="SettingsRoleView.aspx" />
		</item>
	</settings>
</configuration>