<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<search queryName="MediaArchiveModule" path="~/LitiumStudio/MediaArchive/SearchResult2.aspx" />
	<quickSearch type="Litium.Studio.UI.MediaArchive.Search.QuickSearch" />
  <menuSelectedIcon path="~/LitiumStudio/MediaArchive/Images/ma_hover_22x22.png"/>
  <menuIcon path="~/LitiumStudio/MediaArchive/Images/ma_22x22.png"/>
  <settings basePath="~/LitiumStudio/MediaArchive/">
		<item path="SettingsMetadata.aspx" text="MetadataTab">
			<item path="SettingsMetadataAdd.aspx" />
			<item path="SettingsMetadataEdit.aspx" />
		</item>
		<item path="SettingsVersions.aspx" text="VersionsTab">
			<item path="PredefinedVersionAddEdit.aspx" />
			<item path="PredefinedVersionView.aspx" />
		</item>
	</settings>
</configuration>