/***************** ICONS ***************************************************/
.litIconUpDown{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/up_down_16px.png); 
}
.litIconArrowLeft{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_left_blue_16px.png); 
}
.litIconArrowRight{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_right_blue_16px.png); 
}
.litIconSortDescending{
	height:16px;
	margin-left: 4px;
	background-image: url(../../LitiumStudio/Images/icons_standard/sort_descending_16px.png); 
}
.litIconSortAscending{
	height:16px;
	margin-left: 4px;
	background-image: url(../../LitiumStudio/Images/icons_standard/sort_ascending_16px.png); 
}
.litIconView{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/view.png); 
}
.litIconDelete2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/delete.png); 
}
.litIconRefresh{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/refresh_16px.png); 
}
.litIconAdd2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/add.png); 
}
.litIconAdd2_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/add.png); 
}
.litIconPencil{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/pencil.png); 
}
.litIconExport2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/export.png);
}
.litIconImport2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/import.png);
}
.litIconError{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/error.png);
}
.litIconOk{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/check2_16px.png);
}
.litIconPagePublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/page_published.png);
}
.litIconPageTimePublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/page_timepublished.png);
}
.litIconPageUnPublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/page_unpublished.png);
}
.litIconPageWorkingCopy
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/ps_work_16px.png);
}
.litIconPublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/ok.png);
}
.litIconUnpublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/ps_unpubl2_16px.png);
}

.litIconIncomplete{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/ps_incomplete_16px.png);
}

.litIconReadyForPublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/hand_green_card.png);
}
.litIconTimePublish{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/clock.png);
}
.litIconPublishWithSubpages
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/workingcopy_published.png);
}
.litIconWorkingCopy{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/ps_work_16px.png);
}
.litIconWorkCopy{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/view.png);
}
.litIconHiddenInMenu{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/hidden.png);
}
.litIconWarning{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/warning_16px.png);
}
.litIconFind{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/find.png);
}
.litIconKeys{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/keys_16px.png);
}
.litIconArrowDownBlue{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_down_blue.png); 
}
.litIconArrowDownBlue_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_down_blue.png); 
}
.litIconArrowUpBlue{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_up_blue.png); 
}
.litIconArrowUpBlue_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_up_blue.png); 
}
.litIconTextBold{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_bold_16px.png); 
}
.litIconTextItalics{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_italics_16px.png); 
}
.litIconTextUnderlined{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_underlined_16px.png); 
}
.litIconTextAlignLeft{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_align_left_16px.png); 
}
.litIconTextAlignRight{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_align_right_16px.png); 
}
.litIconTextAlignCenter{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_align_center_16px.png); 
}
.litIconTextAlignJustified{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_align_justified_16px.png); 
}
.litIconCopy{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/copy.png); 
}
.litIconCopy_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/copy.png); 
}
.litIconCut{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/cut.png); 
}
.litIconCut_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/cut.png); 
}
.litIconPaste{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/clipboard.png); 
}
.litIconPaste_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/clipboard.png); 
}
.litIconEnvironment{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/environment.png); 
}
.litIconTextRichColored{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/text_rich_colored_16px.png); 
}
.litIconGear{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/gear.png); 
}
.litIconColumnAddAfter{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/column_add_after_16px.png); 
}
.litIconColumnAddBefore{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/column_add_before_16px.png); 
}
.litIconColumnDelete{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/column_delete_16px.png); 
}
.litIconRowAddAfter{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/row_add_after_16px.png); 
}
.litIconRowAddBefore{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/row_add_before_16px.png); 
}
.litIconRowDelete{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/row_delete_16px.png); 
}
.litIconTableAdd{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/table_add_16px.png); 
}
.litIconTableDelete{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/table_delete_16px.png); 
}
.litIconDocumentOk{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_ok_16px.png);
}
.litIconDocumentPulse{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_pulse_16px.png);
}
.litIconAbout{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/about.png);
}
.litIconDiskBlue{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/floppy_disk_blue.png); 
}
.litIconDiskBlue2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/disk_blue_24px.png); 
}

.litIconHelp2{
	height:24px;
	margin-top: 4px;
	background-image: url(../../LitiumStudio/Images/icons_standard/help2_24px.png); 
}
.litIconStop{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/sign_stop.png); 
}
.litIconArrowLeftBlue{
	height:24px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_left_blue_24px.png); 
}
.litIconUser3{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/user3_16px.png);
}
.litIconDoor2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/door2_16px.png);
}
.litIconLogout{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/logout_16px.png);
}
.litIconCheck{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/check.png); 
}
.litIconLock{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/lock.png); 
}
.litIconLockOpen{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/lock_open.png); 
}
.litIconGarbageFull{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/garbage_full_16px.png); 
}
.litIconGarbageEmpty{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/garbage_empty.png); 
}
.litIconGarbageEmpty_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/garbage_empty.png); 
}
.litIconGarbageEmpty2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/garbage_empty_24px.png); 
}
.litIconArchive{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_document.png); 
}
.litIconArchive_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_document.png); 
}
.litIconArchive2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/archive_24px.png); 
}
.litIconDocumentExchange{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_exchange_16px.png); 
}
.litIconDocumentExchange2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_exchange_24px.png);
}
.litIconDocumentView{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_view.png); 
}
.litIconDocumentView2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_view_24px.png); 
}
.litIconDocumentPinned{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_pinned_16px.png); 
}
.litIconDocumentPinnedDelete{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_pinned_delete_16px.png); 
}
.litIconDocumentPinnedOver{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_pinned_over_16px.png); 
}
.litIconDocumentPreferences{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_preferences_24px.png); 
}
.litIconDocumentTime{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_time_24px.png); 
}
.litIconDocumentChart{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_chart_24px.png); 
}
.litIconEarthPreferences{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/earth_preferences_16px.png); 
}
.litIconEarthPreferences2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/earth_preferences_24px.png); 
}
.litIconRecycle{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/recycle_16px.png); 
}
.litIconGarbageDelete{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/garbage_delete_16px.png); 
}
.litIconArchiveDelete{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/archive_delete_16px.png); 
}
.litIconDocumentExchangeDelete{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_exchange_delete_16px.png); 
}
.litIconTemplate{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/template_16px.png); 
}
.litIconTemplate2{
	height:32px;
	background-image: url(../../LitiumStudio/Images/icons_standard/template_32px.png); 
}
.litIconPageType{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/pagetype_16px.png); 
}
.litIconPageType2{
	height:32px;
	background-image: url(../../LitiumStudio/Images/icons_standard/pagetype_32px.png); 
}
.litIconRequired{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/required.png); 
}
.litIconNavRightBlue{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/nav_right_blue.png); 
}
.litIconDocumentFind{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_find_24px.png); 
}
.litIconDocumentFind2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_find_16px.png);
}
.litIconDocumentAdd{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_add_24px.png); 
}
.litIconDocumentAdd2{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_add_16px.png); 
}
.litIconReplace2{
	height:16px;
	margin:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/replace2_16px.png); 
}
.litIconAdd{
	height:16px;
	margin-left:5px;
	margin-top:3px;
	background-image: url(../../LitiumStudio/Images/icons_standard/add_16px.png);
}
.litIconDelete{
	height:16px;
	margin-left:5px;
	margin-top:3px;
	background-image: url(../../LitiumStudio/Images/icons_standard/delete_16px.png);
}
.litIconDocumentGear{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_gear.png);
}
.litIconDocumentGear2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_gear_24px.png);
}
.litIconGear2{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/gear_24px.png);
}
.litIconDocuments{
	height:24px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/documents_24px.png);
}
.litIconBookOpen{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/book_open_16px.png);
}
.litIconModulePanel{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/component_blue.png);
}
.litIconGauge{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/gauge_16px.png); 
}
.litIconNootbookMyTask{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/notebook2.png); 
}
.litIconEdit{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/edit_16px.png); 
}
.litIconNootbookAdd{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/notebook_add_16px.png); 
}
.litIconCopyRecursively_NoText{
	height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/copy_recursively_16px.png); 
}
.litIconPresentationChart{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/presentation_chart_16px.png); 
}
.litIconLineChart{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/chart_line.png);
}
.litIconDownload{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/import.png);
}
.litIconRemoveFromCategory{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/branch_delete_16px.png);
}

.litIconSharedPage
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/shared_16px.png);
}

.litIconMasterPage
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/master_16px.png);
}

.litIconArrowMoveLeft
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_move_gray_left_16px.png);
	cursor: pointer;
}

.litIconArrowMoveRight
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/arrow_move_gray_right_16px.png);
	cursor: pointer;
}

.litIconOfficeBuilding
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/office_building.png);
}

.litIconArticle
{
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/product_blue.png);
	vertical-align:middle;
}

.litIconPackageArticle
{
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/package_article.png);
	vertical-align:middle;
}

.litIconVariant
{
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/variant.png);
	vertical-align:middle;
}

.litIconProductCatalog{
    vertical-align:middle;
    height:16px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/earth2.png); 
}

.litIconFolder{
    vertical-align:middle;
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_closed.png); 
}

.litIconFolderPublished{
    vertical-align:middle;
    height:16px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_closed_published.png); 
}

.litIconFolderUnPublished{
    vertical-align:middle;
    height:16px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_closed_unpublished.png); 
}

.litIconFolderIncomplete{
    vertical-align:middle;
    height:16px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_closed_incomplete.png); 
}

.litIconFolderOpen{
    vertical-align:middle;
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder.png); 
}

.litIconProduct
{
	vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/product_green.png); 
}

.litIconProductGroup{
    vertical-align:middle;
    height:14px;
    width: 16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/folder_closed.png); 
}

.litIconAddressLists
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/addresslists_16px.png);
}

.litIconBusinesswoman{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/businesswoman.png);
}

.litIconBookBlue{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/book_blue_16px.png);
}

.litIconShoppingCart{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/shopping_cart_16px.png);
}

.litIconBarcode{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/barcode_16.png);
}

.litIconShoppingBag{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/document_notebook.png);
}

.litIconShoppingBagEmpty{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/shopping_bag_empty_16px.png);
}

.litIconCurrencyDollar{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/currency_dollar.png);
}

.litIconPopUp
{
	height: 16px;
    margin-left: 5px;
	padding-left:5px;
	top: 3px;	
	cursor: pointer;
}

.litIconDelivery{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/box_16px.png);
}

.litIconPayment
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/credit_card.png);
}

.litIconCampaign
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/megaphone_16px.png);
}

.litIconShelf
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/shelf_empty16.png);
}

.litIconDatabase
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/data_16px.png);
}

.litIconHarddrive
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/hard_drive_16x.png);
}

.litIconViewDisabled
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/view_disabled_16px.png);
}


.litIconCopyRecursivelyDisabled
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/copy_recursively_disabled_16px.png);
}

.litIconFoundationGroups {
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/businesspeople.png); 
}

.litIconFoundationUsers {
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/businesswoman.png); 
}

.litIconLicense {
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/id_card.png); 
}

.litIconLanguages
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/main_languages_16px.png); 
}

.litIconCurrencies
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/currency_dollar.png); 
}

.litIconModules
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/cubes_green.png); 
}

.litIconMessages
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/book_blue_open.png); 
}

.litIconMainLog
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Images/icons_standard/history2.png); 
}

.litIconECommerce
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/ECommerce/images/main_ecommerce_16px.png); 
}

.litIconMediaArchive
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/MediaArchive/Images/main_mediaArchive_16px.png); 
}

.litIconCircular
{
    vertical-align:middle;
    margin-right:5px;
    height:16px;
	background-image: url(../../LitiumStudio/Newsletter/images/main_circular_16px.png); 
}

.lsContentHeader 
.lsContentHeaderHeading 
.litIconPSTranslation {
	vertical-align:middle;
    margin-right:5px;
    height:12px;
    width:16px;
	background-image: url(../Images/icons_standard/translation_16px.png);
}
.litIconTranslate{
	height:12px;
    width:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/translation_16px.png); 
}
.litIconArticleGroup
{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/article_group.png);
}

.litIconConnect{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/graph_edge_directed.png); 
}

.litIconManagePerson
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/businesswoman.png);
}
.litIconPDF
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Help/Images/PDF.png);
}
.litIconHelp{
	height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/help2.png); 
}
.litIconDelivery
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/package.png); 
}
.litIconFlagUnitedKingdom
{
    height:16px;
	margin-right:5px;
	background-image: url(../../LitiumStudio/Images/icons_standard/flags/flag_united_kingdom.png); 
}
